<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!-- Tell the browser to be responsive to screen width -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="App JDCR-v1">
  <meta name="author" content="JDanielCastroR">

  <!-- Favicon icon -->
  <link rel="shortcut icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon.png') }}">

  <!-- Titulo del sitio -->
  <title>{% block title %}{% endblock %}</title>
  
  {% block customcss %}{% endblock %}

</head>

<body>
    
    {% block scripts %}{% endblock %}
    {% block body %}{% endblock %}
</body>
</html>