{% extends './base.html' %}

{% block title %}Login{% endblock %}

{% block customcss %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}">
{% endblock %}

 {% block body %}
 
 <main class="form-signin">
    <form action="/login" method="POST">
      <img class="mb-4" src="static/img/Auth_Logo1.png" alt="Login" width="180" height="180">
    {% with messages = get_flashed_messages()  %}
        {%if messages%}
            <br />
            {% for message in messages %}
                <div class="alert alert-primary alert-dismissible" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
      <h1 class="h3 mb-3 fw-normal">Iniciar Sessión</h1>
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingInput" name="username" placeholder="Usuario">
        <label for="floatingInput">Usuario</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Contraseña">
        <label for="floatingPassword">Contraseña</label>
      </div>
  
      <button class="w-100 btn btn-lg btn-primary" type="submit">Ingresar</button>
    </form>
  </main>

 {% endblock %}
